body {
    background-color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
    
}

.logo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

hr,img, h3, p, h4 {
    margin: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-bottom: 16px;
}

main {
    margin: 0;
    padding: 0 40px 0 120px;
}
.container {
    display: flex;
    gap: 65px;
}
.top-content {
    margin-top: 50px;

}

.top-content p {
    margin-top: 40px;
    margin-bottom: 62px;
}
button {
    width: 240px;
    height: 60px;
    color: #FFFFFF;
    background: #1492E6;
    box-shadow: 0px 16px 48px #00000029;
    border-radius: 33px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.top-img {
    height: 400px;
}

.second-container {
    display: flex;
    gap: 40px;
}
.heading {
    text-align: center;
    clear: both;
    margin-top: 200px;
    margin-bottom: 100px;
}

.content {
    padding: 38px 16px 48px 17px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 18px;
}

.second-container h3 {
    margin-bottom: 18px;
    text-align: center;
    
}

.third-container {
    display: flex;
    gap: 55px;

}


.left {
    float: left;
    margin-bottom: 24px;
    width: 644px;
   
}

.right {
    float: right;
    margin-bottom: 24px;
    width: 540px;
   
} 

.float {
    float: left;
    margin-right: 39px;
    margin-bottom: 14px;
}


.fourth-container p {
    clear: both;
}

.outer-box {
    position: relative;
    width: 1070px;
    height: 363px;
    padding: 30px 40px 0 60px;
    box-shadow: 0px 16px 48px #00000029;
    border-radius: 42px;
}


.inner-box {
    clear: both;
    display: flex;
    gap: 1%;
    position: absolute;
    top: 180px;

}
.most-inner {
    padding: 35px 25px;
    
    /* width: 285px;
    height: 260px; */
    box-shadow: 0px 16px 48px #00000029;
    border-radius: 30px;

}
.ditails {
    clear: both;

}

.last-container {
    display: flex;
    gap: 200px;
}
.logos {
    margin-bottom: 18px;

}


footer{
    color: #FFFFFF;
    background-color: black;
    width: 100%;
    height: 369px;
    position: relative;
    border: 1px solid #707070;
    margin-top: 200px;
}
footer p {
    position: absolute;
    top: 288px;
    left: 600px;
}



@media (max-width: 1200px) {
   .nav {
    gap: 40px;
   }
    main {
        padding: 0 30px 0 60px;
    }
   .outer-box {
    width: 90%;
    padding-left: 1%;
   }

   .third-container {
    gap: 20px;
   }
   .last {
    margin-top: 400px; ;
   }

   .last-container {
    gap: 100px;
   
}

@media (max-width: 600px) {
    main {
        padding: 10px;
    }
    .nav {
        gap: 10px;
    }
    .top-content {
        padding: 20px;
        margin: 0;
        box-shadow: 0px 16px 48px #00000029;

    }
    p {
        margin-bottom: 30px ;
    }
    .top-img {
        position: absolute;
        left: 0px;
        top: 120px;
        z-index: -1;
        filter: blur(2px);
    }
    button {
        margin: 0 60px;
        width: 200px;
        height: 40px;

        
    }
    .heading {
        margin: 100px 0;
    }
    .second-container, .third-container {
        display: block;
        box-shadow: 0px 16px 48px #00000029;
        padding: 20px;
    }
    .card {
        width: 270px;
        margin: 20px;
        padding: 20px;
        box-shadow: 0px 16px 48px #00000029;
        align-items: center;
        
    }
    .outer-box {
        width: 95%;
        height: 1380px;
        padding: 0 10px;
    }
    .outer-box > h3 {
    }
    .inner-box {
        flex-direction: column;
    }
    .most-inner {
        width: 80%;
    }
    .last-container {
        flex-direction:column ;
        padding: 20px;
        gap: 30px;
        box-shadow: 0px 16px 48px #00000029;
        align-items:center ;
        justify-content: center;

    }

    footer {
        height: 40px;
    }

    footer p {

        top: 10px;
        left: 10px;
        color: rgb(252, 250, 250);
    }







}